// Blog post page HEADER //////////////////////////////////////////
.blog header {
    background-image: url(../assets/blog-header.jpg);
}

.blog header .wrapper {
    justify-content: flex-start;
    min-height: initial;
}

.blog h1 {
    color: $white;
    margin: 30px 0 150px 0;
    width: 100%;
}

// Section //////////////////////////////////////////
.blog .wrapper {
    @include flexWrap(flex, wrap);
    justify-content: space-between;

    position: relative;

    max-width: 1920px;
    width: 95%;
    margin: 0 0 0 auto;
}

.blog section {
    padding: 100px 0;
}

.side {
    color: $white;
    height: 100%;
    padding: 25px;
    background: $twilightBlue;
    margin-right: 150px;
    margin-bottom: 275px;
    flex: 0 0 350px;
}

.side ul {
    list-style: initial;
    padding: 0 20px;
}

.side .sideImage {
    position: absolute;
    left: calc(-5% - 25px);
    top: -25px;
    min-width: 175px;
    max-width: 400px;
}

.side .sideInfo {
    margin-top: 125%;
}

.blog .mainContent {
    flex: 1 0 calc(100% - 350px - 150px);
}

.blog .mainContent article {
    border-left: 5px solid $dandelion;
    border-bottom: 5px solid $dandelion;

    position: relative;
}

.blog .acticleImage {
    width: calc(100% - 10px);
    box-shadow: -15px 15px $dandelion;

    position: absolute;
    right: 0;
    top: -200px;
}

.blog .articleItself {
    padding: 55% 8% 50px;
}

// Comments /////
.blog .commentsContent {
    padding: 30px 8%;
}

.blog .comment {
    @include flexWrap(flex, wrap);
    justify-content: center;
    margin: 50px 0;
} 

.blog .comment .avatarUser {
    flex: 0 0 100px;
    margin-right: 40px;
}

.blog .commentItself {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    margin: 0 10px;
}

.blog .commentItself time {
    color: $twilightBlue;
    font-weight: 600;
}

// Form for COMMENT /////
.blog .formContact,
.blog .nameText input,
.blog .formContact textarea {
    background: transparent;
    caret-color: black;
}

.blog input[type="submit"] {
    border: 3px solid $twilightBlue;
    background: $twilightBlue;
    color: $dandelion;
}

.blog input[type="submit"]:hover,
.blog input[type="submit"]:focus {
    background: transparent;
    color: $twilightBlue;
}

.blog .formContact ::placeholder {
    color: black;
}

