// Blog post page HEADER //////////////////////////////////////////

.blog header {
    background-image: url(../assets/blog-header.jpg);
}

.blog header .wrapper {
    justify-content: flex-start;
    min-height: initial;
}

.blog h1 {
    color: $white;
    margin: 30px 0 150px 0;
    width: 100%;
}


// Section //////////////////////////////////////////

// .blog section .wrapper {
//     max-width: 1920px; 
//     width: 100%; 
//     margin: 0 auto 0 5%;
// }

.blog .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;

    max-width: 1920px;
    width: 95%;
    margin: 0 0 0 auto;
}

.blog section {
    padding: 100px 0;
}

.side {
    color: $white;
    // width: 25%;
    height: 100%;
    padding: 25px;
    background: $twilightBlue;

    // min-width: 250px;
    margin-right: 150px;
    margin-bottom: 275px;
    flex: 0 0 350px;
}

.side ul {
    list-style: initial;
    padding: 0 20px;
}

.side .sideImage {
    position: absolute;
    left: calc(-5% - 25px);
    top: -25px;
    // width: 30%;
    min-width: 250px;
    max-width: 400px;

    // left: calc(-20px - 20%);
    // top: -25px;
    // width: 120px;
}

.side div:nth-of-type(2) {
    margin-top: 125%;
}


.blog .mainContent {
    // width: 60%;
    // position: relative;

    flex: 1 0 calc(100% - 350px - 150px);
}

.blog .mainContent article {
    border-left: 5px solid $dandelion;
    border-bottom: 5px solid $dandelion;

    position: relative;
}

.blog .acticleImage {
    box-shadow: -15px 15px $dandelion;

    position: absolute;
    right: 0;
    top: -200px;

    width: calc(100% - 10px);
}

.blog .articleItself {
    // padding: 50% 100px 50px;
    padding: 55% 8% 50px;
}

// not needed now// not needed now// not needed now
.mainContent article::after {
    content: "";
    position: absolute;
    right: calc(-9% - 10px);
    bottom: -5px;
    background: $dandelion;
    height: 5px;
    // width: 100%;
}
// not needed now// not needed now// not needed now

// Comments /////
.blog .commentsContent {
    // padding: 30px 0 30px 100px;
    padding: 30px 8%;
}

.blog .comment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
} 

.blog .comment .avatarUser {
    flex: 0 0 80px;
    // width: 80px;
    // height: 80px;
}

.blog .commentItself {
    display: flex;
    flex-direction: column;
    // width: calc(100% - 120px);
    flex: 0 0 calc(100% - 80px - 40px);
}

.blog .commentItself time {
    color: $twilightBlue;
    font-weight: 600;
}



// Form for COMMENT /////
.blog .formContact,
.blog .formContact .nameText input,
.blog .formContact textarea {
    background: transparent;
}

.blog .formContact .nameText input,
.blog .formContact textarea {
    background: transparent;
    caret-color: black;
}

.blog input[type="submit"] {
    border: 3px solid $twilightBlue;
    background: $twilightBlue;
    color: $dandelion;
}

.blog input[type="submit"]:hover,
.blog input[type="submit"]:focus {
    background: transparent;
    color: $twilightBlue;
}

.blog .formContact ::placeholder {
    color: black;
}

