// Styles for body
body {
    font-family: 'Roboto', sans-serif;
    // color: $twilightBlue;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

:hover,
:focus {
    transition: all 0.5s;
}

main,
.sectionThree {
    background: $iceBlue;
}

// Styles for all 3 pages headers
// Styling the HOME page first, then change individually other pages if something's different
header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    min-height: 50vh;
    position: relative;
}

// Navigation bar
nav {
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 0.1rem;
}

header nav ul {
    padding: 40px 0;
    display: flex;
}

header nav li {
    margin-right: 15px;
}

header nav a {
    padding: $aClickableSpaceTB $aClickableSpaceLR;
    color: $white;
    position: relative;
}

nav li a::after {
    content: "";
    position: absolute;
    right: $aClickableSpaceLR;
    left: $aClickableSpaceLR;
    bottom: $aClickableSpaceTB - 5px;
    border-bottom: 4px solid $dandelion;

    opacity: 0;
    transition: all 0.5s;
}

nav li a:hover::after,
nav li a:focus::after {
    opacity: 1;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

h1,
h2,
h3,
h4,
button,
input[type="submit"],
.sectionTwo ul li a {
    font-family: 'IM Fell English', serif;
}

input[type="text"],
input[type="email"],
textarea {
font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 7.9rem;
    color: $dandelion;
    line-height: initial;
    width: 50%;

    z-index: 5;
    margin: 150px 0 30px 0;
}

h2 {
    font-size: 4.5rem;
    line-height: 9.98rem;
    margin: 0;
}

h3 {
    @include boxedSideHeadings(4rem, 5.8rem, 0.13rem);
}

h4 {
    @include boxedSideHeadings(2.5rem, 5.8rem, 0.08rem);
}

h2,
.sectionOne ::before {
    color: $twilightBlue;
}

h3,
.sectionTwo p {
    color: $white;
}

.readMore {
    padding: 5px 15px;
}

input[type="submit"],
.readMore {
    font-size: 2.24rem;
    text-align: center;
    line-height: 4.16rem;

    background: $dandelion;
    color: $twilightBlue;
    border:  3px solid transparent;
}

// .sectionTwo a {
//     border:  3px solid transparent;
// }

// input[type="submit"] {
//     border: none;
// }

.home main a:hover,
.home main a:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: none;
    color: $dandelion;
    border: 3px solid $dandelion;
}


// Footer for ALL pages
footer {
    background: $dandelion;
    text-align: center;
    padding: 5px 0;
}

footer p {
    margin: 0;
}

