header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 100vh;
    position: relative;
}

.headerImage {
    width: 55%;
}

header nav ul {
    padding: 40px 0;
    display: flex;
}

header nav li {
    margin-right: 35px;
}


.headerImage {
    position: absolute;
    right: 0;
    bottom: -20%;
    min-width: 200px;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
