// Styles for HomePage Header ////////////////////////////
.headerImage {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -30%;
    min-width: 300px;
    max-width: 700px;
}

// Section ONE ////////////////////////////
.sectionOne {
    padding: 250px 0;
}

.sectionOne ul {
    @include flexWrap(flex, wrap);
}

.sectionOne ul li {
    flex: 1 0 calc(100%/2 - 70px);
    margin-left: 70px;
}

.sectionOne ul li:nth-child(1),
.sectionOne ul li:nth-child(2),
.sectionOne ul li:nth-child(3),
.sectionOne ul li:nth-child(4) {
    position: relative;
}


.sectionOne ul li:nth-child(1)::before,
.sectionOne ul li:nth-child(2)::before,
.sectionOne ul li:nth-child(3)::before,
.sectionOne ul li:nth-child(4)::before {
    font: normal normal normal 2.5rem/1 FontAwesome;
    position: absolute;
    left: -70px;
    top: 25px;
    background: $dandelion;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sectionOne ul li:nth-child(1)::before {
    content: "\f3c5";
}

.sectionOne ul li:nth-child(2)::before {
    content: "\f0c0";
}

.sectionOne ul li:nth-child(3)::before {
    content: "\f15b";
}

.sectionOne ul li:nth-child(4)::before {
    content: "\f095";
}


// Section TWO ////////////////////////////

.sectionTwo {
    background: $twilightBlue;
    padding: 150px 0;
    position: relative;
}

.sectionTwo h3 {
    margin: 0;
}

.sectionTwo p {
    margin-bottom: 40px;
}

.sectionTwo ul,
.sectionTwo ul li {
    @include flexWrap(flex, wrap);
}

.sectionTwo ul .sectionTwocontent {
    flex: 0 0 calc(100%/2 - 80px);
}

.sectionTwo ul li:first-child {
    margin-bottom: 50px;
    justify-content: flex-end;
}

.sectionTwo ul li:last-child {
    margin-top: 50px;
    text-align: right;
    justify-content: flex-start;
}


.sectionTwo li:first-child img {
    box-shadow: 15px 15px $dandelion;
}

.sectionTwo li:last-child img {
    box-shadow: -15px 15px $dandelion;
}

.sectionTwo .sectionTwocontentImage,
.sectionTwo .sectionTwocontentImage {
    position: absolute;
    width: calc(50% - 60px);
    min-width: 250px;
    max-width: 800px;
}

.sectionTwo li:first-child .sectionTwocontentImage {
    left: 0;
    top: -25px;
}

.sectionTwo li:last-child .sectionTwocontentImage {
    right: 0;
    bottom: -50px;
}


// Section THREE ////////////////////////////
.sectionThree .sectionThreeContent{
    text-align: center;
    padding: 100px 0;
}

.sectionThreeBack {
    background-image: url(../assets/banner.jpg);
    @include background(cover, no-repeat, center);
    min-height: 50vh;
}

// Section FOUR ////////////////////////////
.sectionFourContent,
.sectionFourImages {
    padding: 100px 0;
}

.sectionFourContent {
    @include flexWrap(flex, wrap);
}

.sectionFourContent .avatar {
    flex: 1 0 calc(400px - 40px);
    margin: 20px 20px 0;
    padding: 0 0 15px 15px;
}

.sectionFourContent .avatar img {
    box-shadow: -15px 15px $dandelion;
}

.sectionFourContent .subContent {
    flex: 1 0 calc(100% - 400px - 80px);
    margin: 20px 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionFourContent .subContent h2{
    line-height: 4.98rem;
}

// Second part of section FOUR //
.sectionFourImages {
    background: $twilightBlue;
}

.sectionFourImages ul {
    @include flexWrap(flex, wrap);
}

.sectionFourImages ul li {
    flex: 1 0 250px;
    margin: 20px;
}
