// for extra-wide screens, making sure that the stuff doesn't go to the side(s)
@media (min-width: 2100px) {
    // Home page
    .home h1 {
        width: 100%;
        text-align: center;
    }

    .headerImage {
        position: static;
        margin: 0 0 0 auto;
    }
    
    // Blog page
    .blog .wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1921px) {
    // Home page
    .sectionTwo .wrapper {
        position: relative;
    }
}


@media (min-width: 1000px) {
    // Home page Section TWO images & text alignment //
    .sectionTwo ul {
        justify-content: space-between;
    }

    .sectionTwo ul li {
        width: 45%;
    }
    
    .sectionTwo ul li:last-child {
        margin-top: 30%;
        order: -1;
    }

    .sectionTwo ul .sectionTwocontent {
        flex-grow: 1;
    }
}

@media (max-width: 1000px) {

    // Home page quaries ///////////////////////////

    // our white-colored links interact with background white boats
    // it's hard to read. So, either change font color or reposition background. 
    header {
        background-position: left;
    }

    .home header .headerImage {
        position: static;
        width: 75%;
        margin: 0 0 0 auto;
    }

    .sectionOne {
        padding: 100px 0;
    }

    // Section TWO
    .sectionTwo .sectionTwocontentImage,
    .sectionTwo .sectionTwocontentImage {
        position: static;
        width: 100%;
    }
    
    .sectionTwo li div:nth-of-type(2) {
        margin-left: 0;
        margin-top: 50px;
    }

    .sectionTwo li .sectionTwocontent {
        flex-grow: 1;
    }


    .sectionTwo ul li:first-child,
    .sectionTwo ul li:last-child  {
        justify-content: center;
    }

    // Home & Contact pages quaries ///////////////////////////
    h1 {
        width: 100%;
        font-size: 6rem;
        text-align: center;
        margin: 30px 0;
    }

    header nav li {
        margin-right: 0;
        margin-top: 15px;
    }

    header nav ul {
        flex-direction: column;
    }

    // Contact page quaries ///////////////////////////
    .contact section .wrapper {
        justify-content: center;
    }

    .contact section {
        padding: 50px 0;
    }

    .contactInfo {
        margin-bottom: 50px;
        @include flexWrap(flex, wrap);
        justify-content: space-between;
        align-items: center;
    }

    .contactInfo p:first-of-type {
        margin-right: 25px;
    }

    .contact .formContact {
        position: static;
        box-shadow: 10px 10px $dandelion;
    }
}

@media (max-width: 829px) {
    // BLOG page quaries
    .blog .side {
        flex: 1 0 100%;
    }

    .blog .side .sideImage {
        position: static;
        width: 100%;
        max-width: initial;
    }

    .blog .side .sideInfo {
        margin-top: 0;
    }
}

@media (max-width: 799.5px) {
    // HOME page quaries
    .sectionTwo h3 {
        margin: 40px 0;
    }

    .sectionTwo li .sectionTwocontent {
        margin-bottom: 40px;
    }
}

@media (max-width: 621px) {
    // HOME page quaries
    .sectionTwo li div:nth-of-type(2) {
        margin-left: 0;
    }
}

@media (max-width: 500px) { 
    // HOME page quaries
    .home h1 {
        font-size: 4rem;
    }

    // BLOG page quaries and FORM adjustment

    .formContact .nameText input,
    .blog .nameText input {
        width: 100%;
    }

    .formContact .nameText input:nth-of-type(2) {
        margin-top: $distanceBetween;
    }

    .blog h2 {
        font-size: 3rem;
        text-align: center;
    }

    .blog .articleItself {
        padding-top: 25%;
    }
}