html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

:hover,
:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main {
  background: #EAFEFC;
}

header {
  background-image: url(../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
}

nav {
  text-align: center;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
}

header nav ul {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  margin-right: 15px;
}

header nav a {
  padding: 20px 15px;
  color: #FFFFFF;
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-bottom: 4px solid #FDD908;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav li a:hover::after,
nav li a:focus::after {
  opacity: 1;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50vh;
}

h1,
h2,
h3,
h4,
button,
input[type="submit"] {
  font-family: 'IM Fell English', serif;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 7.9rem;
  color: #FDD908;
  line-height: initial;
  width: 50%;
  z-index: 5;
  margin: 150px 0 30px 0;
}

h2 {
  font-size: 4.5rem;
  line-height: 9.98rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.08rem;
}

button,
input[type="submit"] {
  border: none;
  font-size: 2.24rem;
  text-align: center;
  line-height: 4.16rem;
  background: #FDD908;
  color: #0D457F;
}

footer {
  background: #FDD908;
  text-align: center;
  padding: 5px 0;
}

footer p {
  margin: 0;
}

.headerImage {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -40%;
  min-width: 300px;
  max-width: 1000px;
}

.sectionOne {
  padding: 250px 0;
}

.sectionOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
}

.sectionOne ul li {
  width: calc(100%/2 - 60px);
  min-width: 320px;
}

.sectionOne ul li:nth-child(1),
.sectionOne ul li:nth-child(2),
.sectionOne ul li:nth-child(3),
.sectionOne ul li:nth-child(4) {
  position: relative;
}

.sectionOne ul li:nth-child(1)::before,
.sectionOne ul li:nth-child(2)::before,
.sectionOne ul li:nth-child(3)::before,
.sectionOne ul li:nth-child(4)::before {
  font: normal normal normal 2.5rem/1 FontAwesome;
  position: absolute;
  left: -70px;
  top: 25px;
  background: #FDD908;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.sectionOne ul li:nth-child(1)::before {
  content: "\f3c5";
}

.sectionOne ul li:nth-child(2)::before {
  content: "\f0c0";
}

.sectionOne ul li:nth-child(3)::before {
  content: "\f15b";
}

.sectionOne ul li:nth-child(4)::before {
  content: "\f095";
}

.contact h1 {
  color: #FFFFFF;
  width: 100%;
  margin: 10vh 0;
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
}

.contact header .wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: initial;
}

.contact header nav ul {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact section {
  padding: 50px 0 250px 0;
}

.contact section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.contactInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.contactInfo p {
  white-space: pre-line;
  margin: 0;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
}

.contactInfo ul li {
  margin-right: 10px;
}

.contactInfo ul li:first-child a {
  padding-left: 0;
}

.contactInfo a {
  color: #0D457F;
  padding: 15px;
}

.contactInfo a:hover,
.contactInfo a:focus {
  color: #FDD908;
}

.formContact,
.formContact .nameText input,
.formContact textarea {
  background: #0D457F;
}

.formContact .nameText input,
.formContact textarea {
  color: #FFFFFF;
  padding: 20px;
}

.formContact {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  padding: 40px;
  width: 65%;
  position: absolute;
  right: 0;
  bottom: -70%;
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
}

.formContact .nameText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formContact .nameText input {
  width: calc((100%/2) - (40px/2));
  height: 40px;
  border: 3px solid transparent;
  border-bottom: 3px solid #FDD908;
}

.formContact textarea {
  width: 100%;
  border: 3px solid #FDD908;
  margin-top: 40px;
  resize: none;
}

input[type="submit"] {
  height: 40px;
  margin-top: 40px;
  width: 100%;
  border: 3px solid transparent;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: none;
  color: #FDD908;
  border: 3px solid #FDD908;
}

.formContact .nameText input:focus {
  border: 3px solid #FDD908;
}

.formContact ::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.formContact :-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.formContact ::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.formContact ::placeholder {
  color: white;
  opacity: 1;
}

@media (max-width: 1000px) {
  header {
    background-position: left;
  }
  .home h1 {
    width: 100%;
  }
  .home header .headerImage {
    position: static;
    width: 75%;
    margin: 0 0 0 auto;
  }
  h1 {
    font-size: 6rem;
    text-align: center;
    margin: 30px 0;
  }
  header nav li {
    margin-right: 0;
    margin-top: 15px;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact section .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact section {
    padding: 50px 0;
  }
  .contactInfo {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactInfo p:first-of-type {
    margin-right: 25px;
  }
  .formContact {
    position: static;
    -webkit-box-shadow: 10px 10px #FDD908;
            box-shadow: 10px 10px #FDD908;
  }
}

@media (max-width: 500px) {
  .home h1 {
    font-size: 4rem;
  }
  .formContact .nameText input {
    width: 100%;
  }
  .formContact .nameText input:nth-of-type(2) {
    margin-top: 40px;
  }
}
